//font
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script&family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script&family=Forum&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$logo-font-weight:400;
$logo-font-size: 28px;

$booking-font-weight:400;
$booking-font-size: 50px;

$title-font-size: 80px;
$title-font-size_1024: 50px;
$title-font-768: 40px;
$title-font-420: 28px;


$menu-font-weight: 100;
$menu-font-size: 22px;

$visiting-card-title-weight: 400;
$visiting-card-title-size:32px;
$visiting-card-title-size_1024:28px;
$visiting-card-title-size_768:22px;

$visiting-card-subtitle-weight: 100;
$visiting-card-subtitle-size: 22px;
$visiting-card-subtitle-size-1024: 20px;

$visiting-card-text-weight: 100;
$visiting-card-text-size: 18px;

$text-weight: 300;
$text-size: 22px;

// $title-font-weight: 400;
// $title-font-size: 80px;
//colors
$bBg-dark: #030303;
$dark-text:#000000;
$dark-radio-checked:#333333;
$dark-radio-hover: #710707;

$dark-radio:#999999;
$bBg-grey: #DBDBDB;
$dark-red: #710707;
$font-gold: #9d8665;
$menu-radio: #D2B183;

$yellow-text: #CAAA7D;
$text-color: #FFFFFF;
$footer-line: #666666;
$text__active:#7E6C51;
